In [10]:
import pandas as pd
#series
#from a list
slaries=[10000,20000,30000,40000]
s=pd.Series(slaries)
print(s)
#custom indexing
print(pd.Series(slaries,index=["jan","feb","mar","april"]))
#from a dictonary
dic={"name":"Aditya ujjawal","age":22,"dept":"cse","marks":[96,89.78]}
sdic=pd.Series(dic)
print(sdic)
#Attributes
print(sdic.values)
print(sdic.index)
print(sdic.dtype)

0    10000
1    20000
2    30000
3    40000
dtype: int64
jan      10000
feb      20000
mar      30000
april    40000
dtype: int64
name     Aditya ujjawal
age                  22
dept                cse
marks       [96, 89.78]
dtype: object
['Aditya ujjawal' 22 'cse' list([96, 89.78])]
Index(['name', 'age', 'dept', 'marks'], dtype='object')
object

In [74]:
import numpy as np
import pandas as pd
# Dataframe is basically a 2d stucture to represent a table like structure in which colum repesent a series 

#from list of dictionaries
df=pd.DataFrame([
    {"name":"Aditya","age":25,"marks":89},
    {"name":"Abhinav ","age":19,"marks":90},
    {"name":"Yuvraj ","age":19,"marks":20},
    {"name":"Utkarsh ","age":10,"marks":60},
    {"name":"Mrinal ","age":40,"marks":70}

])
#each row represent a record 
# print(df)
#from dictionary of list
df2=pd.DataFrame({
    "names":["Aditya","Abhinav","Yuvraj"],
    "age":[20,19,19],
    "marks":[89,90,60]
})
# print(df2)
#numpy arrays with name
a=np.array([["aditya",20,89],["abhinav",19,90],["yuvraj",21,45]])
df3=pd.DataFrame(a,columns=["names","age","marks"])
print(df3)
print(df.index)
print(df.columns)
print(df.info()) #it gives info about no oh rows ,column names,non null counts,data types memory usages
print(df.describe())#give summary about columns count,mean,std,minmnax,25 ,50,75 percitle data like these

     names age marks
0   aditya  20    89
1  abhinav  19    90
2   yuvraj  21    45
RangeIndex(start=0, stop=5, step=1)
Index(['name', 'age', 'marks'], dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    5 non-null      object
 1   age     5 non-null      int64
 2   marks   5 non-null      int64
dtypes: int64(2), object(1)
memory usage: 252.0+ bytes
None
             age      marks
count   5.000000   5.000000
mean   22.600000  65.800000
std    11.104053  28.604195
min    10.000000  20.000000
25%    19.000000  60.000000
50%    19.000000  70.000000
75%    25.000000  89.000000
max    40.000000  90.000000

In [75]:
#selecting and filtering data in daraframe

print(df[["name","age"]])
print(df.loc[0])
print(df.loc[:,"name"])# first argument is about row and 2nd argument is about column
print(df.loc[:,:])# all rows and each cell
print(df.loc[1,["name"]])# data from row 1 and column name it picks that cell
#iloc
print(df.iloc[0]) # in iloc we can access only by position that is through index while in loc we
# can have both index position and as well as positions
# filtering rows in dataframe
print(df["age"]>20) #df["age"]>20 gives boolean values and puting that into actual dataframe return row that is true
print(df[df["age"]>20])
print(df[(df["age"]>10) & (df["marks"]>80)])
# modifying columns in a dataframe
#add a column
df["passed"]=df["marks"]>80
print(df)
df["college"]=["Nmamit","VTU","Govind","RNSIT","NITT"]
print(df)
#deleting columns
df.drop("college",axis=1)
# #deleting a row
df.drop(2,axis=0,inplace=True)
print(df)

       name  age
0    Aditya   25
1  Abhinav    19
2   Yuvraj    19
3  Utkarsh    10
4   Mrinal    40
name     Aditya
age          25
marks        89
Name: 0, dtype: object
0      Aditya
1    Abhinav
2     Yuvraj
3    Utkarsh
4     Mrinal
Name: name, dtype: object
       name  age  marks
0    Aditya   25     89
1  Abhinav    19     90
2   Yuvraj    19     20
3  Utkarsh    10     60
4   Mrinal    40     70
name    Abhinav
Name: 1, dtype: object
name     Aditya
age          25
marks        89
Name: 0, dtype: object
0     True
1    False
2    False
3    False
4     True
Name: age, dtype: bool
      name  age  marks
0   Aditya   25     89
4  Mrinal    40     70
       name  age  marks
0    Aditya   25     89
1  Abhinav    19     90
       name  age  marks  passed
0    Aditya   25     89    True
1  Abhinav    19     90    True
2   Yuvraj    19     20   False
3  Utkarsh    10     60   False
4   Mrinal    40     70   False
       name  age  marks  passed college
0    Aditya   25     89    True  Nmamit
1  Abhinav    19     90    True     VTU
2   Yuvraj    19     20   False  Govind
3  Utkarsh    10     60   False   RNSIT
4   Mrinal    40     70   False    NITT
       name  age  marks  passed college
0    Aditya   25     89    True  Nmamit
1  Abhinav    19     90    True     VTU
3  Utkarsh    10     60   False   RNSIT
4   Mrinal    40     70   False    NITT